body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  margin-top: 30vh;

  margin-left: 34vw;
  margin-right: 34vw;
  width: 33vw;
  height: 20vh;
}
.fd {
}
.img {
  position: relative;
  top: -20vh;
  right: 0vw;
  width: 35vw;
  height: 20vh;
  border-radius: 10px 10px 0px 0px;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: brightness(50%);
  margin-right: -40vw;
}
h3 {
  position: absolute;
  top: -70%;
  color: #fff;
  left: 35%;
  font-weight: 500;
}
select {
  margin-top: 7px;
}
form {
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
  margin-top: -20vh;
  padding: 5%;
}

.btn {
  text-align: left;
  margin-left: 35%;
  margin-bottom: -15%;
  text-decoration: none;
  color: purple;
  background-color: #fff;
  padding: 10px 37px;
  border-radius: 15px;
  font-size: 15px;
  transition: ease-out 0.5s;
  border: purple 1px solid;
}
.btn:hover {
  color: #fff;
  background-color: purple;
}
a {
  margin-right: 20px;
}
.svg {
  position: absolute;
  margin: 1px 5px;
}

@media (max-width: 1300px) {
  .container {
    position: absolute;
    margin-top: 35vh;

    margin-left: 30vw;
    margin-right: 34vw;
    width: 39vw;
    height: 20vh;
  }
  .img {
    position: relative;
    top: -20vh;
    right: 0vw;
    width: 42vw;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(50%);
    margin-right: -40vw;
  }
}
@media (max-width: 1150px) {
  .container {
    position: absolute;
    margin-top: 35vh;

    margin-left: 27vw;
    margin-right: 34vw;
    width: 45vw;
    height: 20vh;
  }
  .img {
    position: relative;
    top: -20vh;
    right: 0vw;
    width: 48vw;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(50%);
    margin-right: -40vw;
  }
}
@media (max-width: 1000px) {
  .container {
    position: absolute;
    margin-top: 35vh;

    margin-left: 24vw;
    margin-right: 34vw;
    width: 51vw;
    height: 20vh;
  }
  .img {
    position: relative;
    top: -20vh;
    right: 0vw;
    width: 54vw;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(50%);
    margin-right: -40vw;
  }
}
@media (max-width: 850px) {
  .container {
    position: absolute;
    margin-top: 35vh;

    margin-left: 21vw;
    margin-right: 34vw;
    width: 57vw;
    height: 20vh;
  }
  .img {
    position: relative;
    top: -20vh;
    right: 0vw;
    width: 60vw;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(50%);
    margin-right: -40vw;
  }
}
@media (max-width: 700px) {
  .container {
    position: absolute;
    margin-top: 35vh;

    margin-left: 18vw;
    margin-right: 34vw;
    width: 66vw;
    height: 20vh;
  }
  .img {
    position: relative;
    top: -20vh;
    right: 0vw;
    width: 69vw;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(50%);
    margin-right: -40vw;
  }
}
@media (max-width: 550px) {
  .container {
    position: absolute;
    margin-top: 35vh;

    margin-left: 9vw;
    margin-right: 34vw;
    width: 83vw;
    height: 20vh;
  }
  .img {
    position: relative;
    top: -20vh;
    right: 0vw;
    width: 86vw;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(50%);
    margin-right: -40vw;
  }
}
